<div th:fragment="navbar">
	<head>
		<link th:href="@{/css/navBarStyles.css}" rel="stylesheet" type="text/css">
	</head>
	<div class="main-box">
	
		<!-- logo and company name -->
		<div class="main-bar">
			<div class="icon">
				<img src="img/icono.png"></img>
			</div>
			<div class="nameCompany">
				<img src="img/companyName.png"></img>
			</div>
		</div>
		<!-- end of logo and company name -->
		
		<!-- function menu -->
		<nav class="nav-menu">
			<ul class="nav-links">
				<!-- USING CHECKBOX HACK -->
				<input type="checkbox" id="checkbox_toggle" />
				<label for="checkbox_toggle" class="hamburger">&#9776;</label>

				<div class="menu">
					<li>
						<svg width="16" height="16" fill="white">
		  					<path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
		  					<path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
		  				</svg>						
						<a href="addEmployee">Add employee</a>
					</li>

					<li>
						<svg width="16" height="16" fill="white">
  							<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
  						</svg>
						<a href="searchForm">Search employee</a>
					</li>

					<li>
						<svg width="16" height="16" fill="white">
							<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
							<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
						</svg>
						<a href="viewEmployees">View/Edit employee</a>
					</li>
					<li>
					<form th:action="@{/logout}" method="post">
						<div class="button">
							<svg width="16" height="16" fill="white">
  								<path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
  								<path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
							</svg>
							<input type="submit" class="btn-log-out" value="Log Out" />
						</div>
					</form>
					</li>
				</div>
			</ul>
		</nav>
		<!-- end of function menu -->
	</div>
	
	<!-- Information profile - first name and last name-->	
	<div>
		<div class="name-user">
			<p>Welcome <b>[[${#request.userPrincipal.principal.fullName}]]</b></p>
		</div>
	</div>
	<!-- End information profile -->
	
	<!-- Validation messages -->
	<div class="validation-msg" id="success" th:if="${success != null}">
		<label th:text="${success}"></label>
	</div>
	
	<div class="validation-msg" id="alert" th:if="${error != null}">
		<label th:text="${error}"></label>
	</div>
	
	<div class="validation-msg" id="warning" th:if="${warning != null}">
		<label th:text="${warning}"></label>
	</div>
	
	<div class="validation-msg" id="info" th:if="${info != null}">
		<label th:text="${info}"></label>
	</div>
	<!-- End validation messages -->
	
</div>