@charset "ISO-8859-1";

/*Styles links to return home and select other month*/

.btn-select-month, .btn-ret-home, .return {
    align-items: center;
	display: flex;
	justify-content: center;
    border-radius: 3px;
	width: 25%;
    padding: 4px;
}

.main-table .btn-ret-home a, .main-table .btn-select-month a, .return a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

.return{
    border: solid 1px #dba206;
    margin-bottom: 5px;
    background-color: rgb(113, 103, 103);
}
.return a{
    font-size: large;
    color: white;
}

.main-table .btn-select-month{
	background-color: rgb(236, 231, 182);
	border: solid 1px black;
    margin-top: 10px;
    margin-right: 10px;
    float: left;
}

.main-table .btn-ret-home{
	background-color: rgb(69, 201, 253);
	border: solid 1px black;
    margin-top: 10px;
}

/*Form date range styles*/
.subtitle{
    width: 100%;
    padding: 1em 0;
    display: flex;
    text-align: center;
    justify-content: center;
	background-color: #fFFFFF;
	opacity: 1;
	background-image:  radial-gradient(#008080 0.9500000000000001px, transparent 0.9500000000000001px), radial-gradient(#008080 0.9500000000000001px, #fFFFFF 0.9500000000000001px);
	background-size: 38px 38px;
	background-position: 0 0,19px 19px;    
}

.container{
	display: flex;
	padding-top: 14px;
	background-color: #fFFFFF;
	opacity: 1;
	background-image:  radial-gradient(#008080 0.9500000000000001px, transparent 0.9500000000000001px), radial-gradient(#008080 0.9500000000000001px, #fFFFFF 0.9500000000000001px);
	background-size: 38px 38px;
	background-position: 0 0,19px 19px;
}

h1{
   color: white;
   font-size: 25px;
   margin: 14px 0px 9px;
   text-align: center;
   font-family:'Times New Roman', Times, serif;
   font-style: italic;
}

.container .form{
	background-color: rgb(105, 212, 223);
    width: 80%;
    max-width: 300px;
    margin: auto;
    padding: 2px 35px;
    padding-bottom: 25px;
    border-radius: 5px;
}

.container .form .form-input{
    background: rgb(105, 212, 223);
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 2px;
    font-size: 16px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.container .form .form-input::placeholder{
   color: rgb(48, 43, 43);
}


.container .form .btn{
    width: 47%;
    margin-top: 7px;
    font-family: 'Times New Roman', Times, serif;
    outline: none;
    border-radius: 3px;
    font-size: 18px;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    transition: all .5s ease;
}
#btn-clean{
    float: right;
    background: #5d5c5a;
    color: white;
}
#btn-search{
    float: left;
    margin-right: 6px;
    background: #f2a15b;
    color: black;
}

#btn-search:hover{
    background-color: rgb(236, 174, 120);
    color: white;
}

#btn-clean:hover{
    background-color: #6b6864;
    color: white;
}

/*styles table with results*/
body{
	height: 100vh;
	background-color: #fFFFFF;
	opacity: 1;
	background-image:  radial-gradient(#008080 0.9500000000000001px, transparent 0.9500000000000001px), radial-gradient(#008080 0.9500000000000001px, #fFFFFF 0.9500000000000001px);
	background-size: 38px 38px;
	background-position: 0 0,19px 19px;
}

.main-table{
	width: 40%;
	margin: auto;
	padding: 2em 0;
}

.table{
	width: 100%;
	display: table;
}

.header{
	display: table-row;
	font-weight: bold;
	text-align: center;
}

.data{
	display: table-row;
	text-align: center;
	font-size: 17px;
	margin-bottom: 10px;
}

.rowH{
	display: table-cell;
	border: solid black;
	border-width: thin;
	padding: 5px;
	background-color: #4c9e9e;
	color: wheat;
}

.row{
	display: table-cell;
	border: solid black;
	border-width: thin;
	background-color: white;
	padding: 5px;
}
