@charset "ISO-8859-1";

/*Styles links to return home*/
.return a{
    font-size: large;
    font-weight: bold;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    margin-bottom: 0.5em;
}

/*Form date range styles*/
.subtitle{
    width: 100%;
    padding: 1em 0;
    display: flex;
    text-align: center;
    justify-content: center;
	background-color: #fFFFFF;
	opacity: 1;
	background-image:  radial-gradient(#008080 0.9500000000000001px, transparent 0.9500000000000001px), radial-gradient(#008080 0.9500000000000001px, #fFFFFF 0.9500000000000001px);
	background-size: 38px 38px;
	background-position: 0 0,19px 19px;    
}

.container{
	display: flex;
	padding-top: 14px;
	background-color: #fFFFFF;
	opacity: 1;
	background-image:  radial-gradient(#008080 0.9500000000000001px, transparent 0.9500000000000001px), radial-gradient(#008080 0.9500000000000001px, #fFFFFF 0.9500000000000001px);
	background-size: 38px 38px;
	background-position: 0 0,19px 19px;
}

h1{
   color: white;
   font-size: 25px;
   margin: 14px 0px 9px;
   text-align: center;
   font-family:'Times New Roman', Times, serif;
   font-style: italic;
}

.container .form{
	background-color: rgb(105, 212, 223);
    width: 80%;
    max-width: 300px;
    margin: auto;
    padding: 2px 35px;
    padding-bottom: 25px;
    border-radius: 5px;
}

.container .form .form-input{
    background: rgb(105, 212, 223);
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 2px;
    font-size: 16px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.container .form .form-input::placeholder{
   color: rgb(48, 43, 43);
}


.container .form .btn{
    width: 47%;
    margin-top: 7px;
    font-family: 'Times New Roman', Times, serif;
    outline: none;
    border-radius: 3px;
    font-size: 18px;
    border: none;
    padding: 10px 0;
    cursor: pointer;
    transition: all .5s ease;
}
#btn-clean{
    float: right;
    background: #5d5c5a;
    color: white;
}
#btn-search{
    float: left;
    margin-right: 6px;
    background: #f2a15b;
    color: black;
}

#btn-search:hover{
    background-color: #f1b37e;
    color: white;
}

#btn-clean:hover{
    background-color: #6b6864;
    color: white;
}

/*styles table with results*/
body{
	height: 100vh;
	background-color: #fFFFFF;
	opacity: 1;
	background-image:  radial-gradient(#008080 0.9500000000000001px, transparent 0.9500000000000001px), radial-gradient(#008080 0.9500000000000001px, #fFFFFF 0.9500000000000001px);
	background-size: 38px 38px;
	background-position: 0 0,19px 19px;
}

.main-table{
	width: 40%;
	margin: auto;
	padding: 2em 0;
}

.table{
	width: 100%;
	display: table;
}

.header{
	display: table-row;
	font-weight: bold;
	text-align: center;
}

.data{
	display: table-row;
	text-align: center;
	font-size: 17px;
	margin-bottom: 10px;
}

.rowH{
	display: table-cell;
	border: solid black;
	border-width: thin;
	padding: 5px;
	background-color: #4c9e9e;
	color: wheat;
}

.row{
	display: table-cell;
	border: solid black;
	border-width: thin;
	background-color: white;
	padding: 5px;
}
