<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add new employee</title>
<!-- style sheet -->
<link th:href="@{/css/formStyles.css}" rel="stylesheet" type="text/css">
</head>
<body>
<!-- Import logo, company name, menu and welcome message -->
<div th:replace="fragments/navBar :: navbar"></div>

	<div class="container">
	
		<!-- Add compensation form -->
		<form class="form" th:action="@{/saveCompensation}" th:object="${compensation}" method="post">
			<div>
				<h1>Add Compensation</h1>
			</div>
			
			<label for="type">Type: </label>
				<select class="form-control" id="type" th:field="*{type}">
					<option value="Adjustment">Adjustment</option>
					<option value="Allowance">Allowance</option>
					<option value="Bonus">Bonus</option>
					<option value="Commission">Commission</option>
					<option value="Salary">Salary</option>
				</select>
				
			<label for="id_employee"></label>
				<input type="text" class="form-input" id="id_employee" th:field="*{id_employee}" hidden>
			<br><br>
			<label for="amount">Amount</label>
				<input type="number" class="form-input" id="amount" th:field="*{amount}" required>
			
			<label for="description">Description</label><br>
			<textarea class="form-input" id="description" rows="3" th:field="*{description}"></textarea>
			<small id="info-desc">The description is optional for salary</small>
			
			<label for="datec">Date</label>
					<input type="date" class="form-input" id="datec" th:field="*{datec}" required>
			
			<input type="submit" class="btn-send" value="Save">
		</form>
		<!-- End form -->
	
	</div>
</body>
</html>