<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add new employee</title>
<link th:href="@{/css/formStyles.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="fragments/navBar :: navbar"></div>
	<div class="container">
		<form class="form" th:action="@{/save}" th:object="${employee}" method="post">
			<div>
				<h1>Add employee</h1>
			</div>
			<div>
			<label for="firstname"></label>
			<input type="text" th:field="*{firstname}" class="form-input" id="firstname" name="firstname" placeholder="First name">
			<p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></p>
			</div>
			
			<label for="middlename"></label>
			<input type="text" th:field="*{middlename}" class="form-input" id="middleName" name="middleName" placeholder="Middle name">
			<p th:if="${#fields.hasErrors('middlename')}" th:errors="*{middlename}"></p>						
			
			<label for="lastname"></label>
			<input type="text" th:field="*{lastname}" class="form-input" id="lastName" name="lastName" placeholder="Last name">
			<p th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></p>
			
			<label for="birthDate" class="label">Birth Date:</label>
			<input type="date" th:field="*{birthdate}" class="form-input" id="birthDate" name="birthDate" required>
			
			<label for="position"></label>
			<input type="text" th:field="*{position}" class="form-input" id="position" name="position" placeholder="Position">
			<p th:if="${#fields.hasErrors('position')}" th:errors="*{position}"></p>
			
			<input type="submit" class="btn-send" value="Submit">
		</form>
	</div>
</body>
</html>