<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Compensation Breakdown</title>
<!-- style sheet -->
<link th:href="@{/css/compHistoryStyles.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<!-- Import logo, company name, menu and welcome message -->
	<div th:replace="fragments/navBar :: navbar"></div>
	
	<!-- Table to show the compensation details -->
	<div class="main-table">
		<div class="table">

			<!-- Table header -->
			<div class="header">
				<div class="rowH">Type</div>
				<div class="rowH">Amount</div>
				<div class="rowH">Description</div>
				<div class="rowH">Date</div>
				<div class="rowH">Edit</div>
			</div>
			<!-- End table header -->
			
			<!-- Rows with compensation data -->
			<div class="data" th:each="compensation : ${compList}">
				<div class="row" th:text="${compensation.type}"></div>
				<div class="row" th:text="${compensation.amount}"></div>
				<div class="row" th:text="${compensation.description}"></div>
				<div class="row" th:text="${compensation.datec}"></div>
				<div class="row">
					<a th:href="@{'/compensationEdit/' + ${compensation.id}}"><svg width="16" height="16">
						<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
	                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
	                </svg></a>
	            </div>
			</div>
			<!-- End rows with compensation data -->
		</div>
		<!-- Links to return to home or select another month -->
		<div class="btn-select-month">
			<a th:href="@{'/compensation/' + ${employee.id}}">Select month</a>
		</div>
		<div class="btn-ret-home">
			<a th:href="@{/home}">Return home</a>
		</div>
		<!-- End links -->
	</div>
	<!-- End table to show compensation details -->
	
</body>
</html>