<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Compensation history</title>
<link th:href="@{/css/compHistoryStyles.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div th:replace="fragments/navBar :: navbar"></div>
	
	<!-- Employee profile information -->
	<div class="subtitle">
		<h2 class="msg-comp-h">This is <span th:text="${employee.firstname}"></span>'s compensation history</h2>
	</div>
	
	<div class="container">
		<form class="form" th:action="@{/compensationHistory/{id}/range(id=${employee.id})}" method="GET">
			<div>
				<h1>Date range</h1>
			</div>
			<input type="month" class="form-input" name="startD" placeholder="Start date">
			<input type="month" class="form-input" name="endD" placeholder="End date">
			
			<input type="submit" class="btn" id="btn-search" value="Search">
			<input type="reset" class="btn" id="btn-clean" value="Clear">
		</form>
	</div>		
		
	<div class="main-table">
		<div class="return">
			<a th:href="@{'/home'}">Return home</a>
		</div>
		<div class="table">
			<div class="header">
				<div class="rowH">Year</div>
				<div class="rowH">Month</div>
				<div class="rowH">Total per month</div>
				<div class="rowH">View details</div>
			</div>
			<div class="data" th:each="compensation : ${compList}">
				<div class="row" th:text="${#dates.year(compensation.datec)}"></div>
				<div class="row" th:text="${#dates.month(compensation.datec)}"></div>
				<div class="row" th:text="${compensation.amount}"></div>
				<div class="row">
					<a th:href="@{/compensationHistory/{id}/details/{month}/{year}(id=${employee.id},month=${#dates.month(compensation.datec)},year=${#dates.year(compensation.datec)} )}">
						<svg width="16" height="16" fill="black">
						  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
						  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>