<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login Panduro's Company</title>
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<link th:href="@{/css/indexStyles.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="main-box">
		<div class="backg">
			<img src="img/backgroundIndex.jpeg"></img>
		</div>
		<div class="bar">
			<div class="square">.</div>
			<div class="icon">
				<img src="img/icono.png"></img>
			</div>
			<div class="nameCompany">
				<img src="img/companyName.png"></img>
			</div>
		</div>
		<div class="message-welcome">
			<p>Welcome to</p>
			<img src="img/companyName.png"></img>
		</div>
		<div class="purpose">
			<pre>Panduro's Company is more than a company that generates
opportunities and growth, we are a family!</pre>
		</div>
		<div class="log-reg">
			<div class="reg">
				<a th:href="@{/register}">Register</a>
			</div>
			<div class="log">
				<a th:href="@{/login}">Login</a>
			</div>
				<img src="img/icono.png"></img>
		</div>
		</div>
	</div>
</body>
</html>