<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Add new employee</title>
		<link th:href="@{/css/registrationStyles.css}" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div class="main-bar">
			<div class="icon">
				<img src="img/icono.png"></img>
			</div>
			<div class="nameCompany">
				<img src="img/companyName.png"></img>
			</div>
		</div>
		<div class="success-message">
			<h3>Your registration was completed successfully</h3>
		</div>
		<div class="link-login">
			<h4>
				<a th:href="@{/login}">Click here to login</a>
			</h4>
		</div>
	
	</body>
</html>